body{
    background: url("../img/pattern.png");
}

@media only screen and (max-width:600px) {

  .pagination > li > a, .pagination > li > span {
    
    padding: 0px 12px!important;
    margin-left: -10px!important;
    
  }
}

a{
    color:black;
     text-decoration: none!important;

}
.up{

    cursor: pointer;

    position: fixed;

    bottom: 82px;

    right: 20px;

    width: 40px!important;

    height: 40px!important;

    color: white;

    display: flex;

    transform: scale(1.3);

    border-radius: 50%;


    justify-content:center;

    align-items: center;

}

#titulosProyectos  {
    color: black;
    text-transform: uppercase;
    text-decoration: none!important;
}


#cardProyect:hover{
    transform: scale(1.05);
    filter: drop-shadow(5px 5px 10px #444);
    transition: all .4s ease;

}


.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 3;
    color: 
        #23527c;
    background-color:
        #eee;
    border-color:
        #ddd;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid 
        #ddd;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: 
        #fff;
    cursor: default;
    background-color:
        #337ab7;
    border-color:
        #337ab7;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid 
        #ddd;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: 
        black!important;
}.page-item.active .page-link {
    background-color:
        #26292d!important;
    color:white!important;
}
